
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
}
@layer components {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .black-btn{
    @apply bg-black text-white w-full md:text-base text-sm md:mx-auto md:py-3 py-2 md:px-4 px-2 rounded-md capitalize md:hover:shadow-2xl shadow-none ;
  } 
  .item-center{
    @apply flex items-center justify-center;
  }
  
}


@layer utilities{
  .sign-padding{
    @apply md:my-20 my-12;
  }
  
}



